.my-header {
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;


  border-bottom: 1px solid black;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #e2e8f0;
  transition: transform 0.3s ease;
}
.logo {
  background-color: #00bfff;
  color: #0a192f;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active,
.header-item:hover {
  color: rgb(100, 255, 218);

  cursor: pointer;
  transform: scale(1.4);
  transition: transform 0.2s ease;
}
