@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  background: linear-gradient(135deg, #0a192f, #020c1b, #1c1f2f);
  background-attachment: fixed;

  color: #ccd6f6;
  font-family: "Poppins", sans-serif;
}
